<div class="social-div row">
    <div class="social-col col col-6">
        <tatami-social-list [key]="MY_REL_KEYS[0]" [color]="'success'"></tatami-social-list>
        <tatami-social-list [key]="MY_REL_KEYS[1]" [color]="'primary'"></tatami-social-list>
        <tatami-social-list [key]="MY_REL_KEYS[2]" [color]="'warning'"></tatami-social-list>
        <tatami-social-list [key]="MY_REL_KEYS[3]" [color]="'danger'"></tatami-social-list>
    </div>
    <div class="social-col col col-6">
        <div class="blue-background">
            <div class="">
                <div class="upper-label"> {{t('social.nickname')}}</div>
                <div class="down-search">
                    <input class="form-control-custom search-input" type="text" [ngModel]="filter.nickname"
                        (ngModelChange)="onFilterChange($event, 'nickname')" />
                </div>
            </div>
            <div class="">
                <div class="upper-label"> {{t('social.username')}}</div>
                <div class="down-search">
                    <input class="form-control-custom search-input" type="text" [ngModel]="filter.username"
                        (ngModelChange)="onFilterChange($event, 'username')" />
                </div>
            </div>
        </div>
        <div *ngIf="isSearchEnabled()" class="social-search-body">
            <div class="social-page-div">
                <div class="zero-third content-left">
                    <button class="btn btn-primary btn-page" [disabled]="!filter.page"
                        (click)="onPageChange(filter.page - 1)">
                       <tatami-chevron-left></tatami-chevron-left>
                    </button>
                </div>
                <div class="zero-third content-center">
                    {{filter.page + 1}}
                </div>
                <div class="zero-third content-right">
                    <button class="btn btn-primary btn-page" [disabled]="!users || !users.length || users.length !== filter.size"
                        (click)="onPageChange(filter.page + 1)">
                        <tatami-chevron-right></tatami-chevron-right>
                    </button>
                </div>
            </div>
            <ng-container *ngIf="users && users.length">
                <div *ngFor="let user of users; let i = index" class="social-item-div">
                    <div class="user-status-div" [ngClass]="getOnlineColor(i)" [title]="t(getOnlineTitle(i))"></div>
                    <span class="span-nick" [ngClass]="getSpanNickClass(i)" [title]="user.username">{{user.nickname}}</span>
                    <button *ngIf="getKey(i) === 'nothing'" class="btn btn-success btn-social"
                        (click)="handleRelation(user.id, 'ask-friendship')">
                        {{t('social.ask')}}
                    </button>
                    <button *ngIf="getKey(i) === 'nothing'" class="btn btn-danger btn-social"
                        (click)="handleRelation(user.id, 'block-user')">
                        {{t('social.block')}}
                    </button>
                    <button *ngIf="getKey(i) === 'askingFriends'" class="btn btn-warning btn-social"
                        (click)="handleRelation(user.id, 'cancel-request')">
                        {{t('social.cancel')}}
                    </button>
                    <button *ngIf="getKey(i) === 'pendingFriends'" class="btn btn-success btn-social"
                        (click)="handleRelation(user.id, 'accept-friendship')">
                        {{t('social.accept')}}
                    </button>
                    <button *ngIf="getKey(i) === 'pendingFriends'" class="btn btn-warning btn-social"
                        (click)="handleRelation(user.id, 'refuse-friendship')">
                        {{t('social.refuse')}}
                    </button>
                    <button *ngIf="getKey(i) === 'pendingFriends'" class="btn btn-danger btn-social"
                        (click)="handleRelation(user.id, 'block-user')">
                        {{t('social.block')}}
                    </button>
                    <button *ngIf="getKey(i) === 'blocked'" class="btn btn-danger btn-social"
                        (click)="handleRelation(user.id, 'unlock-user')">
                        {{t('social.unlock')}}
                    </button>
                    <span class="span-friends">{{user.commonFriends + t('commonFriends')}}</span>
                </div>
            </ng-container>
        </div>
    </div>
</div>
