.social-div {
    padding: 0px;
    margin: 0px;
}

.social-col {
    padding: 8px;
    margin: 0px;
    max-height: 100vh;
    overflow-y: auto;
}

.blue-background {
    background-color: #0074d9;
    border-radius: 10px;
}

.upper-label {
    text-align: right;
    padding: 15px 8px;
    position: relative;
    display: inline-block;
    color: #ffffff;
    width: 40%;
    font-weight: 700;
    font-family: 'Calibri';
    font-style: italic;
}

.down-input {
    position: relative;
    display: inline-block;
    width: 60%;
    padding: 0px 8px;
    font-weight: 700;
    font-family: 'Calibri';
    font-style: italic;
}

.search-input {
    max-width: 100%;
    background-color: #7fdbff;
}

/*
SOCIAL SEARCH
*/

.social-page-div {
    /* border-bottom: 1px solid blue; */
    height: 48px;
    display: inline-flex;
    width: 100%;
}

.btn-page {
    width: 48px;
    height: 48px;
}

.zero-third {
    width: 33.3333333%;
}

.content-left {
    text-align: start;
}

.content-center {
    text-align: center;
    font-family: 'Calibri';
    font-weight: 700;
    font-size: 22px;
    font-style: italic;
}

.content-right {
    text-align: end;
}

.social-search-body {
    padding: 0px;
    margin: 0px;
    background-color: #7fdbff;
    align-items: center;
}

.social-item-div {
    border-bottom: 1px solid blue;
    height: 48px;
}

.user-status-div {
    display: inline-block;
    height: 10px;
    width: 10px;
    border-radius: 5px;
    margin-left: 5px;
}

.green-status {
    background-color: #00cc00;
}

.red-status {
    background-color: #ff0000;
}

.magenta-status {
    background-color: #ff00ff;
}

.yellow-status {
    background-color: #ffff00;
}

.black-status {
    background-color: #323232;
}

.span-nick {
    font-family: 'Calibri';
    font-weight: 700;
    font-size: 14px;
    font-style: italic;
    display: inline-block;
    text-overflow: ellipsis;
    overflow-x: hidden;
    margin-bottom: -5px;
    padding: 0px 5px;
}

.span-friends {
    font-family: 'Calibri';
    font-size: 12px;
    font-style: italic;
    display: inline-block;
    text-overflow: ellipsis;
    overflow-x: hidden;
    padding: 0px 5px;
    width: 100%;
}

.span-nick-1 {
    width: calc(100% - 95px);
}

.span-nick-2 {
    width: calc(100% - 175px);
}

.span-nick-3 {
    width: calc(100% - 255px);
}

.btn-social {
    height: 28px;
    width: 80px;
    font-size: 14px;
    padding: 0px;
}
