.social-div {
    padding: 0px;
    margin: 0px;
}

.social-col {
    padding: 8px;
    margin: 0px;
    max-height: 100vh;
    overflow-y: auto;
}

.blue-background {
    background-color: #0074d9;
    border-radius: 10px;
}

.upper-label {
    text-align: right;
    padding: 15px 8px;
    position: relative;
    display: inline-block;
    color: #ffffff;
    width: 40%;
    font-weight: 700;
    font-family: 'Calibri';
    font-style: italic;
}

.down-search {
    position: relative;
    display: inline-block;
    width: 60%;
    padding: 0px 8px;
    font-weight: 700;
    font-family: 'Calibri';
    font-style: italic;
}

.search-input {
    max-width: 100%;
    background-color: #7fdbff;
}
