<div class="lightsout-table-component">
    <div class="lightsout-table">
        <div *ngFor="let row of currentTable.screen; let i = index" class="lightsout-row">
            <tatami-lightsout-tile *ngFor="let tile of row; let j = index" [id]="'screen-' + i + '-' + j"
                [clickable]="false" [value]="tile">
            </tatami-lightsout-tile>
        </div>
    </div>
    <div class="lightsout-separator">
        <div class="separator-trials">
            {{currentTable.trials - currentTable.clicks}} / {{currentTable.trials}}
        </div>
        <div class="separator-timer">
            {{strTimer}}
        </div>
    </div>
    <div class="lightsout-table">
        <div *ngFor="let row of currentTable.table; let i = index" class="lightsout-row">
            <tatami-lightsout-tile *ngFor="let tile of row; let j = index" [id]="'table-' + i + '-' + j" [value]="tile"
                [clickable]="!preventClick" (subClick)="click(i, j)">
            </tatami-lightsout-tile>
        </div>
    </div>
</div>
