<div class="main-menu">
    <div class="btn-div anim-fade-in">
        <button class="btn btn-success menu-btn" [disabled]="!online" (click)="joinLobby()">{{t('lobby.join')}}</button>
    </div>
    <div class="btn-div anim-fade-in delay-1">
        <button class="btn btn-success menu-btn" [disabled]="!online"
            (click)="createLobby()">{{t('lobby.create')}}</button>
    </div>
    <div class="btn-div anim-fade-in delay-2">
        <button class="btn btn-primary menu-btn" (click)="loadReplay()">{{t('replay')}}</button>
    </div>
    <div class="btn-div anim-fade-in delay-2">
        <button class="btn btn-primary menu-btn" (click)="otherGames()">{{t('other-games')}}</button>
    </div>
    <div class="btn-div anim-fade-in delay-3">
        <button class="btn btn-secondary menu-btn" (click)="logout()">{{t('logout')}}</button>
    </div>
    <div class="btn-div anim-fade-in delay-4">
        <button class="btn btn-danger menu-btn" (click)="quit()">{{t('quit')}}</button>
    </div>
</div>
