.tatami-lobbies {
    font-weight: 700;
    font-family: 'Calibri';
    font-size: 24px;
    display: block;
    top: 10%;
    right: 30%;
    left: 30%;
    position: absolute;
    padding-bottom: 20px;
}

.blue-background {
    background-color: #0074d9;
    border-radius: 10px;
}

.left-filter {
    text-align: right;
    padding: 15px 8px;
    position: relative;
    display: inline-block;
    color: #ffffff;
    width: 40%;
}

.right-filter {
    position: relative;
    display: inline-block;
    width: 50%;
    padding: 0px 8px;
}

.go-back {
    top: 10%;
    right: 10%;
    width: 100px;
    height: 28px;
    position: absolute;
}

.btn-go-back {
    font-weight: 700;
    font-family: 'Calibri';
    font-size: 14px;
}

.search-input {
    max-width: 100%;
    background-color: #7fdbff;
}

.lobby-search-body {
    padding: 0px;
    margin: 0px;
    background-color: #7fdbff;
    align-items: center;
}

.lobby-page-div {
    /* border-bottom: 1px solid blue; */
    height: 48px;
    display: inline-flex;
    width: 100%;
}

.zero-third {
    width: 33.3333333%;
}

.content-left {
    text-align: start;
}

.content-center {
    text-align: center;
    font-family: 'Calibri';
    font-weight: 700;
    font-size: 22px;
    font-style: italic;
}

.content-right {
    text-align: end;
}
