<div class="background">
</div>
<div class="row tatami-lobbies">
    <div class="blue-background">
        <div class="">
            <div class="label left-filter"> {{t('lobby.name')}}</div>
            <div class="search right-filter">
                <input class="form-control-custom " type="text" [ngModel]="filter.name"
                    (ngModelChange)="onFilterChange($event, 'name')" />
            </div>
        </div>
        <div class="">
            <div class="label left-filter"> {{t('lobby.type')}}</div>
            <div class="search right-filter">
                <select class="form-control-custom " [value]="'ALL'" [ngModel]="filter.lobbyType"
                    (ngModelChange)="onFilterChange($event, 'lobbyType')">
                    <option selected="selected" [ngValue]="'ALL'">{{t('lobby.all')}}</option>
                    <option [ngValue]="'PUBLIC'">{{t('lobby.public')}}</option>
                    <option [ngValue]="'PRIVATE'">{{t('lobby.private')}}</option>
                </select>
            </div>
        </div>
    </div>
    <div *ngIf="isSearchEnabled()" class="lobby-search-body">
        <div class="lobby-page-div">
            <div class="zero-third content-left">
                <button class="btn btn-primary btn-page" [disabled]="!filter.page"
                    (click)="onPageChange(filter.page - 1)">
                    <tatami-chevron-left></tatami-chevron-left>
                </button>
            </div>
            <div class="zero-third content-center">
                {{filter.page + 1}}
            </div>
            <div class="zero-third content-right">
                <button class="btn btn-primary btn-page"
                    [disabled]="!lobbies || !lobbies.length || lobbies.length !== filter.size"
                    (click)="onPageChange(filter.page + 1)">
                    <tatami-chevron-right></tatami-chevron-right>
                </button>
            </div>
        </div>
        <div class="">
            <ng-container *ngIf="lobbies && lobbies.length">
                <div *ngFor="let lobby of lobbies" class="">
                    {{lobby.lobbyName}}, {{t('lobby.friends') + ': ' + lobby.friends}}
                </div>
            </ng-container>
        </div>
    </div>
</div>
<div class="go-back">
    <button class="btn btn-danger btn-go-back" (click)="back()">{{t('back')}}</button>
</div>
