<div class="background">
</div>
<div class="tatami-title">TATAMI</div>
<div class="row tatami-login">
    <ng-container *ngIf="!isRegistration">
        <div class="blue-background">
            <div class="left-login"> {{t('ipAddress')}}</div>
            <div class="right-login">
                <input class="login-input" type="text" [(ngModel)]="ipAddress" />
            </div>
            <div class="left-login"> {{t('username')}}</div>
            <div class="right-login">
                <input class="login-input" type="text" [(ngModel)]="user.username" />
            </div>
            <div class="left-login"> {{t('password')}}</div>
            <div class="right-login">
                <input class="login-input" type="password" [(ngModel)]="user.password" />
            </div>
        </div>
        <div class="login-buttons">
            <button class="btn btn-secondary login-btn" (click)="registration(true)">{{t('register')}}</button>
            <button class="btn btn-success login-btn" [disabled]="!isLoginEnabled()"
                (click)="login()">{{t('login')}}</button>
        </div>
        <div *ngFor="let errorMessage of (loginErrorMessages && loginErrorMessages.length ? loginErrorMessages : errorMessages)"
            class="error-message" (click)="resetErrorMessage()">
            {{t(errorMessage)}}
        </div>
    </ng-container>
    <ng-container *ngIf="isRegistration">
        <div class="blue-background">
            <div class="left-login"> {{t('ipAddress')}}:</div>
            <div class="right-login">
                <input class="login-input" type="text" [(ngModel)]="ipAddress" />
            </div>
            <div class="left-login"> {{t('username')}}:</div>
            <div class="right-login">
                <input class="login-input" type="text" [(ngModel)]="user.username" />
            </div>
            <div class="left-login"> {{t('password')}}:</div>
            <div class="right-login">
                <input class="login-input" type="password" [(ngModel)]="user.password" />
            </div>
            <div class="left-login"> {{t('confirmPassword')}}:</div>
            <div class="right-login">
                <input class="login-input" type="password" [(ngModel)]="user.newPassword" />
            </div>
            <div class="left-login"> {{t('email')}}:</div>
            <div class="right-login">
                <input class="login-input" type="text" [(ngModel)]="user.email" />
            </div>
            <div class="left-login"> {{t('nickname')}}:</div>
            <div class="right-login">
                <input class="login-input" type="text" [(ngModel)]="user.nickname" />
            </div>
        </div>
        <div class="login-buttons">
            <button class="btn btn-secondary login-btn" (click)="registration(false)">{{t('backToLogin')}}</button>
            <button class="btn btn-success login-btn" [disabled]="!isRegistrationEnabled()"
                (click)="onRegistration()">{{t('register')}}</button>
        </div>
        <div *ngFor="let errorMessage of (creationErrorMessages && creationErrorMessages.length ? creationErrorMessages : errorMessages)"
            class="error-message" (click)="resetErrorMessage()">
            {{t(errorMessage)}}
        </div>
    </ng-container>
    <div class="login-offline">
        <button class="btn btn-light offline-btn" (click)="loginOffline()">{{t('startOffline')}}</button>
    </div>
</div>