<div class="main-menu">
    <div class="btn-div anim-fade-in">
        <button class="btn btn-primary menu-btn" (click)="training()">{{t('lightsout.training')}}</button>
    </div>
    <div class="btn-div anim-fade-in delay-1">
        <button class="btn btn-success menu-btn" (click)="infinite()">{{t('lightsout.infinite')}}</button>
    </div>
    <div class="btn-div anim-fade-in delay-2">
        <button class="btn btn-warning menu-btn" (click)="thirtySeconds()">{{t('lightsout.30s')}}</button>
    </div>
    <div class="btn-div anim-fade-in delay-3">
        <button class="btn btn-light menu-btn" (click)="rules()">{{t('lightsout.rules')}}</button>
    </div>
    <div class="btn-div anim-fade-in delay-4">
        <button class="btn btn-danger menu-btn" (click)="back()">{{t('back')}}</button>
    </div>
</div>
