/* You can add global styles to this file, and also import other style files */

.content-container {
	background-color: white;
}

.background {
    background-color: #001f3f;
    position: fixed;
    top: 0;
    display: flex;
    height: 100vh;
    width: 100vw;
    z-index: -1;
}

.full {
    display: block;
}

.btn {
	width: 100%;
}

.col-1 {
	padding-left: 0px;
	padding-right: 0px;
}

.col-2 {
	padding-left: 0px;
	padding-right: 0px;
}

.col-3 {
	padding-left: 0px;
	padding-right: 0px;
}

.col-4 {
	padding-left: 0px;
	padding-right: 0px;
}

.col-5 {
	padding-left: 0px;
	padding-right: 0px;
}

.col-6 {
	padding-left: 0px;
	padding-right: 0px;
}

.col-7 {
	padding-left: 0px;
	padding-right: 0px;
}

.col-8 {
	padding-left: 0px;
	padding-right: 0px;
}

.col-9 {
	padding-left: 0px;
	padding-right: 0px;
}

.col-10 {
	padding-left: 0px;
	padding-right: 0px;
}

.col-11 {
	padding-left: 0px;
	padding-right: 0px;
}

.col-12 {
	padding-left: 0px;
	padding-right: 0px;
}

input[type=number] {
	width: 80px;
}

textarea {
	width: 100%;
	resize: vertical;
}

.scroll-y {
	height: 400px;
	overflow-y: scroll;
	overflow-x: hidden;
}

@keyframes spin {
    from {
        transform:rotate(0deg);
    }
    to {
        transform:rotate(360deg);
    }
}

.anim-fade-in {
    animation: fade-in;
    animation-timing-function: ease-out;
    animation-duration: 3s;
    animation-delay: -2.4s;
}

@keyframes fade-in {
    0% {
        opacity: 0;
    }
    80% {
        opacity: 0;
    }
    100% {
        opacity: 1;
    }
}

.delay-1 {
    animation-delay: -2.3s;
}

.delay-2 {
    animation-delay: -2.2s;
}

.delay-3 {
    animation-delay: -2.1s;
}

.delay-4 {
    animation-delay: -2.0s;
}

.delay-5 {
    animation-delay: -1.9s;
}

.delay-6 {
    animation-delay: -1.8s;
}

.delay-7 {
    animation-delay: -1.7s;
}

.delay-8 {
    animation-delay: -1.6s;
}

.delay-9 {
    animation-delay: -1.5s;
}
