.expansion-btn {
    /* height: 48px;
    width: 48px; */
    text-align: justify;
    border-radius: 10px;
}

.social-list-div {
    padding: 0px;
    margin: 0px;
    overflow-y: auto;
    max-height: 100vh;
}

.social-list-accordion {
    padding: 0px;
    margin: 0px;
    /* background-color: #0074d9; */
    border-radius: 10px;
    margin-top: 10px;
    align-items: center;
}

.social-list-header {
    font-weight: 700;
    font-family: 'Calibri';
    font-size: 24px;
    font-style: italic;
    margin-left: 10px;
    color: #ffffff;
}

.social-list-body {
    padding: 0px;
    margin: 0px;
    background-color: #7fdbff;
    align-items: center;
}

.social-item-div {
    border-bottom: 1px solid blue;
}

.span-nick {
    font-family: 'Calibri';
    font-weight: 700;
    font-size: 14px;
    font-style: italic;
    display: inline-block;
    text-overflow: ellipsis;
    overflow-x: hidden;
    margin-bottom: -5px;
    padding: 0px 5px;
    width: calc(100% - 165px);
}

.btn-social {
    height: 28px;
    width: 80px;
    font-size: 14px;
    padding: 0px;
}
