<div class="row social-list-accordion">
    <button class="btn btn-{{color}} expansion-btn" [title]="getExpandCollapseTitle(relationObj[key].open)"
        (click)="onBtnOpenClick()">
        <ng-container *ngIf="relationObj[key].open">
            <tatami-chevron-up></tatami-chevron-up>
        </ng-container>
        <ng-container *ngIf="!relationObj[key].open">
            <tatami-chevron-down></tatami-chevron-down>
        </ng-container>
        <span class="social-list-header">{{t('social.' + key)}}</span>
    </button>
</div>
<div *ngIf="relationObj[key].open" class="social-list-body">
    <div *ngFor="let relation of myRelations[key]; let i = index" class="social-item-div">
        <div class="user-status-div" [ngClass]="getOnlineColor(i)" [title]="t(getOnlineTitle(i))"></div>
        <span class="span-nick" [ngClass]="getSpanNickClass()" [title]="relation.username">{{relation.nickname}}</span>
        <button *ngIf="key === 'friends'" class="btn btn-primary btn-social">
            {{t('social.remove')}}
        </button>
        <button *ngIf="key === 'friends'" class="btn btn-danger btn-social">
            {{t('social.block')}}
        </button>
        <button *ngIf="key === 'askingFriends'" class="btn btn-warning btn-social">
            {{t('social.cancel')}}
        </button>
        <button *ngIf="key === 'pendingFriends'" class="btn btn-success btn-social">
            {{t('social.accept')}}
        </button>
        <button *ngIf="key === 'pendingFriends'" class="btn btn-warning btn-social">
            {{t('social.refuse')}}
        </button>
        <button *ngIf="key === 'pendingFriends'" class="btn btn-danger btn-social">
            {{t('social.block')}}
        </button>
        <button *ngIf="key === 'blocked'" class="btn btn-danger btn-social">
            {{t('social.unlock')}}
        </button>
    </div>
</div>
